<% @photos.each do |photo| %>
<div class="photo-group thumbnail">
  <div class="photo photo-wrapper">
    <span class="photo-title"><%= link_to 'Photo Title here soon!', photo_path(photo) %></span>
    <%= image_tag photo.image_url, :class => 'img-rounded'%>
    <div class="social-links">
        <div class="g-plusone" data-size="medium" data-href="<%= photo_url(photo) %>"></div>
        <br />
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= photo_url(photo) %>" data-text="PhotoTitle" data-via="<%= ENV['TWITTER_HANDLE'] %>" data-hashtags="photo">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br />
        <div class="fb-like" data-href="<%= photo_url(photo) %>" data-send="false" data-layout="button_count" data-width="107" data-show-faces="false"></div>
    </div>
    <span class="taken-by">Photo taken by <%= photo.user.full_name %></span>
    <% if current_user %>
      <span class="admin-links">
        <i class="icon-edit"></i> <%= link_to 'Edit Photo', edit_photo_path(photo) %> | 
        <i class="icon-remove"></i> <%= link_to 'Delete Photo', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>
  </div>
</div>
  <br />
<% end %>

<br />
